<h1 class="text-center">{{title}}</h1>

<form ng-submit="updateEmployee()">
    <div class="mb-3">
        <label for="ho_ten" class="form-label">Họ tên</label>
        <input type="text" ng-model="employee.ho_ten" class="form-control" id="ho_ten">
        <span ng-if="validate.ho_ten" class="text-danger">{{validate.ho_ten}}</span>
      </div>
      <div class="mb-3">
        <label for="sdt" class="form-label">Số điện thoại</label>
        <input type="text" ng-model="employee.sdt" class="form-control" id="sdt">
        <span ng-if="validate.sdt" class="text-danger">{{validate.sdt}}</span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" ng-model="employee.email" class="form-control" id="email">
        <span ng-if="validate.email" class="text-danger">{{validate.email}}</span>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Chức vụ</label>
        <select class="form-select" aria-label="Default select example" ng-model="employee.chuc_vu">
            <option value="">-Chọn chức vụ-</option>
            <option value="1">Trưởng phòng</option>
            <option value="2">Nhân viên</option>
            <option value="3">Giám đốc</option>
          </select>
        <span ng-if="validate.chuc_vu" class="text-danger">{{validate.chuc_vu}}</span>
      </div>
      <div class="mb-3">
        <label for="ngay_sinh" class="form-label">Ngày sinh</label>
        <input type="date"  ng-model="employee.ngay_sinh" class="form-control" id="ngay_sinh">
        <span ng-if="validate.ngay_sinh" class="text-danger">{{validate.ngay_sinh}}</span>
      </div>
      <button class="btn btn-warning" type="submit">Sửa nhân viên</button>
</form>